{% extends 'base.html' %}
{% block content %}
<h2 style="text-align: center;">Todo List</h2>

<form action="{{ url_for('get_todos') }}" method="GET" class="search-form">
  <input type="text" name="q" placeholder="Search todos...">
  <button type="submit">Search</button>
</form>

<div class="todo-container">
  <ul class="todo-list">
    {% for todo in todos %}
        <li>
            <div class="todo-content">
                <div class="todo-title"><strong>{{ todo.name }}</strong></div>
                <div class="todo-message">{{ todo.message }}</div>
            </div>
    
            <div class="todo-buttons">
                {% if todo.status == "unfinished" %}
                    <form action="{{ url_for('finish_task', id=todo._id) }}" method="POST">
                        <button type="submit" class="btn-success">Done</button>
                    </form>
                {% else %}
                    <div class="finished-btn">
                        <span class="task-complete">✓ Done</span>
                    </div>
                {% endif %}
    
                <a href="{{ url_for('get_todo', id=todo._id) }}" class="btn-info">View</a>
                <a href="{{ url_for('edit_todo_form', id=todo._id)}}" class="btn-warning">Edit</a>
    
                <form action="{{ url_for('delete_todo', id=todo._id) }}" method="POST" onsubmit="return confirm('Delete this todo?');">
                    <button type="submit" class="btn-danger">Delete</button>
                </form>
            </div>
        </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
