{% extends 'base.html' %}
{% block content %}
<h2 style="text-align: center;">Todo List</h2>

<form action="{{ url_for('get_todos') }}" method="GET" class="search-form" id="search-form">
  <input type="text" name="q" placeholder="Search todos...">
  <button type="submit">Search</button>

  <select name="sort_by" id="sort-dropdown" onchange="document.getElementById('sort-form').submit();">
    <option value="time" {% if request.args.get('sort_by') == 'time' %}selected{% endif %}>Sort by Time</option>
    <option value="priority" {% if request.args.get('sort_by') == 'priority' %}selected{% endif %}>Sort by Priority</option>
  </select>
</form>

<div class="todo-container">
  <ul class="todo-list">
    {% for todo in todos %}
        <li>
            <div class="todo-content">
                <div class="todo-title"><strong>{{ todo.name }}</strong></div>
                <div class="todo-priority {{ todo.priority_str|lower }}">{{ todo.priority_str }} Priority</div>
                <div class="todo-message">Description: {{ todo.message }}</div>
            </div>
    
            <div class="todo-buttons">
                {% if todo.status == "unfinished" %}
                    <form action="{{ url_for('finish_task', id=todo._id) }}" method="POST">
                        <button type="submit" class="btn-success">Done</button>
                    </form>
                {% else %}
                    <div class="finished-btn">
                        <span class="task-complete">✓ Done</span>
                    </div>
                {% endif %}
    
                <a href="{{ url_for('get_todo', id=todo._id) }}" class="btn-info">View</a>
                <a href="{{ url_for('edit_todo_form', id=todo._id)}}" class="btn-warning">Edit</a>
    
                <form action="{{ url_for('delete_todo', id=todo._id) }}" method="POST" onsubmit="return confirm('Delete this todo?');">
                    <button type="submit" class="btn-danger">Delete</button>
                </form>
            </div>
        </li>
    {% endfor %}
  </ul>
</div>

<script>
    document.getElementById('sort-dropdown').addEventListener('change', function() {
        document.getElementById('search-form').submit();
    });
</script>

{% endblock %}
